
<div class="toggle" [ngClass]=" lvl===1 ? 'red' : lvl===2 ? 'yellow' :'green' " >
    <div class="doura" [ngClass]=" lvl===1 ? 'doura' : lvl===2 ? 'doura2' :'doura3' " (click)="goNext()" >
    </div>
</div>

   <!---
<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" class="toggle" >
    <mat-button-toggle value="red" class=""></mat-button-toggle>
    <mat-button-toggle value="green" class=""></mat-button-toggle>
    <mat-button-toggle value="blue" class=""></mat-button-toggle>
  </mat-button-toggle-group>--->