<div class="container">
    <h2>ajouter une formation</h2>
    <input type="text">

    <div class=" detailsdeformation">
      
            
            <table class="example-full-width" cellspacing="0"><tr>
              <td>
            </td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput>
              </mat-form-field></td>
            </tr></table>
          <div class="inputs">
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>mode</mat-label>
                <input matInput >
              </mat-form-field>
            
              <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>lieu</mat-label>
              <input matInput >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>formateur</mat-label>
            <input matInput >
            </mat-form-field>
            
            </div>
    
          
          
    </div>
    <div class="objectif">

    </div>
    <div class="liste">

    </div>
</div>