/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$titletext:#00affa;
*{
    user-select: none;
}
*::-webkit-scrollbar {
  
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: gray;
    margin:15px 0 0 0px ;
  }
  
  *::-webkit-scrollbar-thumb {
    
    background-color: $titletext;
    border: none;
  }