<ul>
   <a routerLink="/profile" routerLinkActive="active" class="active" > <li routerLinkActive="active"> <span class="material-symbols-outlined">
        account_circle
        </span>
        <P>Mon profile</P>
    </li></a>

    <a routerLink="/mes formations"  > <li routerLinkActive="active"> <span class="material-symbols-outlined">
        groups
        </span>
        <P>Mes formateurs</P>
    </li></a>

    <a routerLink=""  > <li > <span class="material-symbols-outlined">
        query_stats
        </span>
        <P>suivi de progression</P>
    </li></a>

</ul>